@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <section class="centerPage max">
        <h2>Nuestra Mision</h2><br>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui minima molestias a facere nihil explicabo iure architecto maiores dolore, 
            ipsam ab reprehenderit deserunt cupiditate ex. Tenetur eius animi consequuntur possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sunt qui deserunt ipsum voluptatem, eum tenetur doloribus accusamus incid
            unt sapiente voluptatum iste culpa ea possimus error, perspiciatis ipsam dolorum corrupti sequi.</h3><br><br>
    </section>
    
    <section class="centerPage max">
        <h2>Nuestra visión</h2><br>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui minima molestias a facere nihil explicabo iure architecto maiores dolore, 
            ipsam ab reprehenderit deserunt cupiditate ex. Tenetur eius animi consequuntur possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sunt qui deserunt ipsum voluptatem, eum tenetur doloribus accusamus incid
            unt sapiente voluptatum iste culpa ea possimus error, perspiciatis ipsam dolorum corrupti sequi.</h3>    
    </section>