<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> MascotaFeliz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MascotaFeliz.App.Frontend.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/3500_2_13.png"/>
    <link rel="stylesheet" href="./_Layout.cshtml.css"/>
    <link rel="stylesheet" href="~/css/tablas.css">
    <link rel="stylesheet" href="~/css/formularios.css">
    <link rel="stylesheet" href="~/css/perfil.css">
    <style type="text/css">
         body {
            background-image: url('/images/SL-100420-36140-29.jpg');
            margin: 0;
            background-repeat: no-repeat;
            background-size: auto;
        }
    </style>
</head>
<body>
    <header>
        <div class="leftHead">
            <a asp-area="" asp-page="/Index">
                <img src="~/images/3500_2_13.png" alt="">
                <div class="logo">Mi Mascota Feliz</div>
            </a>
            <nav>
                        <a asp-area="" asp-page="/Index">Inicio</a>
                        <a asp-area="" asp-page="/Mascotas/ListaMascotas">Mascotas</a>
                        <a asp-area="" asp-page="/Duenos/ListaDuenos">Dueños</a>
                        <a asp-area="" asp-page="/Veterinarios/ListaVeterinarios">Veterinarios</a>
            </nav>
        </div> 
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MascotaFeliz.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>