.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f56f3a;
    font-family: 'calibri';
    font-size: 18px;
    color:black;
  }

